<input
  id="input"
  type="text"
  [(ngModel)]="title"
  name="title"
  (keyup.enter)="addNotes()"
  placeholder="Type your note..." />

<ul>
  <li *ngFor="let note of notes | async" [ngStyle]="{'border': '2px solid' + note.data.belt}" (click)="getNotes(note.id)">
    <div>{{note.data.title}}</div>
    <a class="delete" href="#" (click)="deleteNote(note.id)" title="Deleter this note">x</a>
    <a title="Coppy this note" class="coppy" href="#" (click)="copyToClipboard(note.data.title)">coppy</a>
    <span class="right" [ngStyle]="{'border': '11px solid transparent',
          'border-right': '11px solid' + note.data.belt,
          'border-bottom': '11px solid' + note.data.belt}"></span>
    <span class="left" [ngStyle]="{'border': '11px solid transparent',
          'border-left': '11px solid' + note.data.belt,
          'border-top': '11px solid' + note.data.belt}"></span>
  </li>
</ul>
